
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

@import "install-button.css";

@import "fonts.css";

/* Your styles here */

html, body {
    height: 100%;
    font-size: 62%;
}

body {
    margin: 0;
    font-family: 'MozTTLight', Verdana, sans-serif;
}
.menu-title {
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 155px;
	maring-top: 20px;
	height: 69px;
	background-color: rgb(116, 115, 115);
	color: #fff;
	font-size: 23px;
	line-height: 68px;margin-top: 20px;
}
.menu-link {
    text-decoration: none;
    color: #fff;
}