
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

@import "install-button.css";

@import "fonts.css";

/* Your styles here */

html, body {
    height: 100%;
    font-size: 62%;
}

body {
    margin: 0;
    font-family: 'MozTTLight', Verdana, sans-serif;
}